.Nav_wrapper {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(
    to top,
    rgba(17, 24, 39, 0.6),
    rgba(17, 24, 39, 0.3)
  );
}

.Nav_wrapper .logo a {
  font-size: 28px;
  color: white;
  font-weight: 800;
}

.Nav_wrapper ul li {
  display: inline-block;
  margin: 0 5px;
}

.Nav_wrapper ul li a {
  font-size: 14px;
  font-weight: 500;
  color: white;
  transition: 0.5s;
}

.Nav_wrapper ul li a:hover {
  color: rgb(231, 76, 60);
}

.nav_btns {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav_btns .search_wrapper {
  width: 200px;
  height: 38px;
  display: flex;
  position: relative;
  color: white;
}

.nav_btns .search_wrapper input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 30px;
  color: white;
}

.nav_btns .search_wrapper i {
  position: absolute;
  left: 8px;
  top: 10px;
  cursor: pointer;
}

.nav_btns .CallBtn {
  width: 200px;
  display: flex;
  gap: 12px;
}

.nav_btns .CallBtn i {
  font-size: 25px;
  color: rgb(231, 76, 60);
}

.nav_btns .CallBtn p {
  font-size: 18px;
  font-weight: 600;
}

.nav_btns .CallBtn p small {
  font-weight: 300;
  font-size: 13px;
  display: block;
}

#bars {
  padding: 15px;
  font-size: 18px;
  color: #1e1e1e;
  background-color: rgb(231, 76, 60);
  cursor: pointer;
  transition: 0.6s;
  display: none;
}

#bars:hover {
  background-color: #1e1e1e;
  color: #fff;
}

@media screen and (max-width: 1500px) {
  #bars {
    display: block;
  }

  .Nav_wrapper ul {
    position: absolute;
    top: 125%;
    left: 0;
    /* background-color: #fff; */
    background: linear-gradient(
      to top,
      rgba(17, 24, 39, 0.6),
      rgba(17, 24, 39, 0.3)
    );
    transition: 1.2s;

    width: 0%;
    border: none;
    overflow: hidden;
  }

  .Nav_wrapper ul li {
    display: block;
    margin: 15px 0;
    padding: 8px 0;
    padding-left: 8% !important;
  }

  .Nav_wrapper .activeMenu {
    border-width: 1px;
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .Nav_wrapper {
    padding: 0 5%;
  }
}

@media screen and (max-width: 786px) {
  .Nav_wrapper {
    padding: 0 2%;
  }
  .nav_btns .CallBtn {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .nav_btns .search_wrapper {
    display: none;
  }
}
