@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito";
}

.navbar * {
  font-family: "Montserrat", "Poppins", "sans-serif";
  @apply uppercase;
}
.testimonials * {
  font-family: "Montserrat", "Poppins", "sans-serif";
}
.contact * {
  font-family: "Montserrat", "Poppins", "sans-serif";
}

.footer * {
  @apply text-xs sm:text-sm md:text-xs;
}

.main {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/landscape-Panorama-02.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: 1;
  transition: transform 0.8s ease-out;
}

.hero-content {
  z-index: 1;
}

.floatingButtons {
  z-index: 999;
}
