.imageContainer {
  background: url(./../../assets/landscape-Panorama-02.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  animation: anim_change_img 5s infinite linear alternate;
}

@keyframes anim_change_img {
  0% {
    background: url(./../../assets/landscape-Panorama-02.jpg);
  }
  100% {
    background: url(./../../assets/landscape-Panorama-03.jpg);
  }
}
