.rotate_infinite {
  animation: rotate 5s linear infinite;
}
.rotate_hover_parent {
  z-index: 11;
}

.rotate_hover_parent:hover .rotate_hover {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
