.slide {
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.imageContainer {
  background: url(./../../assets/destinations_panaroma_02.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  animation: anim_change_img 5s infinite linear alternate;
}
.image {
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.1);
}

@keyframes anim_change_img {
  0% {
    background: url(../../../assets/destinations_panaroma_02.jpg);
  }
  100% {
    background: url(../../../assets/destinations_panaroma_01.jpg);
  }
}
