.slide {
  border-radius: 10px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.imageContainer {
  background: url(./../../assets/landscape-Panorama-02.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  animation: anim_change_img 5s infinite linear alternate;
}
.image {
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.1);
}

@keyframes anim_change_img {
  0% {
    background: url(../../../assets/landscape-Panorama-02.jpg);
  }
  100% {
    background: url(../../../assets/landscape-Panorama-03.jpg);
  }
}
